/* Archivo: pedido.css */

/* Estilos generales */
body {
    background-color: #ffffff; /* Cambiado a blanco */
    color: #333; /* Texto oscuro en lugar de claro para mejorar la legibilidad */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.table-container {
    margin: 20px;
}

.btn-primary {
    background-color: #555;
    color: #fff;
    margin-right: 10px;
}

/* Estilos para la lista de proveedores */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.lista-proveedores {
    text-align: center; /* Añadido para centrar la lista de proveedores */
}

ul {
    list-style: none;
    padding: 0;
}

/* Estilos específicos para los enlaces dentro de la lista de proveedores */
.lista-proveedores a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 15px; /* Ajusta el padding según tu preferencia */
    border-radius: 10px;
    border: 2px solid #555;
    margin-right: 10px; /* Añadido margen derecho para separar los botones */
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px; /* Ajusta el tamaño de fuente según tu preferencia */
    width: 400px; /* Ancho duplicado para los enlaces */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.lista-proveedores a:hover {
    background-color: #333;
    color: #fff;
}

/* Estilos para la vista detallepedi.css */

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px; /* Añadido espacio superior */
}

h2 {
    color: #555;
    margin-top: 15px; /* Añadido espacio superior */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1CB698;
    color: #fff;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
}

/* Añadido estilo para el mensaje cuando no hay detalles */
p {
    color: #555;
    text-align: center;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .contenedor-header .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
