
    /* Estilos para centrar y dar color a la tabla */
    .detalle-pedido {
        width: 100%;
        max-width: 600px; /* O ajusta el valor según tus preferencias */
        margin: 0 auto;
        background-color: #3498db; /* Color azul */
        color: #fff; /* Texto blanco */
        padding: 20px;
        border-radius: 10px;
    }

    .detalle-info p {
        margin: 10px 0;
        border-bottom: 1px solid #fff; /* Línea blanca entre celdas */
    }

    h2 {
        color: #000000; /* Color rojo */
    }
