/* Archivo: pedido.css */

/* Estilos generales */
.table-container {
    margin: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

/* Estilos para la lista de proveedores */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Estilos para el modal */
.modal-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-body {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

select,
input {
    margin-bottom: 10px;
    padding: 8px;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* Botón de cierre en el modal */
.btn-close {
    color: #000;
}

